* {
    font-family: system-ui;
}

p {
    font-size: 16px;
    margin: 5px 0 25px;
}

#logo {
    width: 200px;
    height: auto;
}

.jump-link {
    display: block;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    padding: 5px;
    color: #000;
}

.jump-link:hover {
    background-color: #eee;
}

.jump-link.offline {
    opacity: .25;
    pointer-events: none;
}

.status-indicator {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: #ccc;
}

.online .status-indicator {
    background-color: #4db500;
}